{% extends 'base.html.twig' %}
{% block title %}Portfolio{% endblock %}
{% block body %}
    <div class="w-full flex flex-col">
        <div class="flex flex-col md:container mx-auto px-4">
            {% if app.flashes('notice') %}
                <div class="w-1/2">
                    {% for notice in app.flashes('notice') %}
                        <twig:Alert class="mt-2">
                            {{ notice }}
                        </twig:Alert>
                    {% endfor %}
                </div>
            {% endif %}
            <section id="header" class="flex mb-2">
                <twig:Head>
                    {{ 'Portfolio'|trans }}
                </twig:Head>
            </section>
            {% include 'portfolio/_summary.html.twig' %}
            <div id="main"
                 class="relative overflow-x-auto border rounded-lg shadow-white bg-white px-3 py-2 ">
                <div>
                    <div class="mb-2 w-full">
                        {{ form_start(autoCompleteForm, { 'action': path('portfolio_index') , 'attr': { 'data-turbo-frame': 'portfolio_results' }}) }}
                            <div class="flex flex-row">
                                <div class="flex-auto p-2">{{ form_widget(autoCompleteForm.pie) }}</div>
                                <div class="flex-auto p-2">
                                    <select placeholder="{{ 'Select a ticker'|trans }}" name="{{ field_name(autoCompleteForm.ticker) }}" {{ stimulus_controller('symfony/ux-autocomplete/autocomplete',{
                                         url: path('ux_entity_autocomplete', { alias: 'ticker'})
                                        }) }}>
                                    </select>
                                </div>
                                <div class="flex-none p-2">
                                    <twig:Button variant="secondary" title="Search Ticker" type="submit">
                                        <i class="fas fa-search"></i>
                                    </twig:Button>
                                </div>
                            </div>
                        {{ form_end(autoCompleteForm) }}
                    </div>
                </div>
                <div>
                    <turbo-frame id="portfolio_results" data-turbo-action="advance" class="border-black aria-busy:opacity-50 aria-busy:blur-sm transition-all">
                    <div class="min-h-80">
                    <twig:Table:Table class="max-w-min min-w-full">
                        <twig:Table:THead>
                            <tr>
                                <twig:Table:ThCol>
                                    <div class="flex items-center">
                                        {{ 'Fullname'|trans }}
                                        <a href="{{ path('portfolio_index', { ...app.request.query.all() , sort: 'fullname', orderBy: sort == 'fullname' and orderBy == 'asc' ? 'desc' : 'asc',}) }}">
                                            <svg class="w-3 h-3 ms-1.5"
                                                 aria-hidden="true"
                                                 xmlns="http://www.w3.org/2000/svg"
                                                 fill="currentColor"
                                                 viewBox="0 0 24 24">
                                                <path d="M8.574 11.024h6.852a2.075 2.075 0 0 0 1.847-1.086 1.9 1.9 0 0 0-.11-1.986L13.736 2.9a2.122 2.122 0 0 0-3.472 0L6.837 7.952a1.9 1.9 0 0 0-.11 1.986 2.074 2.074 0 0 0 1.847 1.086Zm6.852 1.952H8.574a2.072 2.072 0 0 0-1.847 1.087 1.9 1.9 0 0 0 .11 1.985l3.426 5.05a2.123 2.123 0 0 0 3.472 0l3.427-5.05a1.9 1.9 0 0 0 .11-1.985 2.074 2.074 0 0 0-1.846-1.087Z" />
                                            </svg>
                                        </a>
                                    </div>
                                </twig:Table:ThCol>
                                <twig:Table:ThCol>
                                    {{ 'Avg. price'|trans }}
                                </twig:Table:ThCol>
                                <twig:Table:ThCol>
                                    {{ 'Allocation'|trans }}
                                </twig:Table:ThCol>
                                <twig:Table:ThCol>
                                    {{ 'Received dividend'|trans }}
                                    <div class="inline-block" {{ stimulus_controller("tooltip") }}>
                                        <i class="fas fa-question-circle"
                                           data-tooltip-target="element"
                                           data-action="mouseenter->tooltip#show mouseleave->tooltip#hide"></i>
                                        <div class="tooltip" role="tooltip" data-tooltip-target="tooltip">
                                            <span class="normal-case">{{'Dividend per position'|trans }}</span>
                                            <div class="arrow" data-tooltip-target="tooltipArrow"></div>
                                        </div>
                                    </div>
                                </twig:Table:ThCol>
                                <twig:Table:ThCol>
                                    {{ 'Ex-Div'|trans }}
                                    /
                                    <br />
                                    {{ 'Payout'|trans }}
                                </twig:Table:ThCol>
                                <twig:Table:ThCol>
                                    {{ 'Forward dividend'|trans }}
                                    <div class="inlin-block" {{ stimulus_controller("tooltip") }} data-tooltip-placement-value="bottom">
                                        <i class="fas fa-question-circle"
                                           data-tooltip-target="element"
                                           data-action="mouseenter->tooltip#show mouseleave->tooltip#hide"></i>
                                        <div class="tooltip" role="tooltip" data-tooltip-target="tooltip">
                                            <span class="normal-case">{{'Dividend yield based on cost basis'|trans }}</span>
                                            <div class="arrow" data-tooltip-target="tooltipArrow"></div>
                                        </div>
                                    </div>
                                </twig:Table:ThCol>
                            </tr>
                        </twig:Table:THead>
                        <tbody>
                            {% for position in pager %}
                                {% set dividendInfo = include('portfolio/_dividendinfo.html.twig', {'position' : position} ) %}
                                {% set ticker = position.ticker %}
                                <twig:Table:Tr>
                                    <twig:Table:Td>
                                        <div>
                                            <div class="inline-block" {{ stimulus_controller("tooltip") }} data-tooltip-placement-value="top">
                                                <a href="{{ path('portfolio_show', {'id': position.id}) }}"
                                                   data-turbo-frame="_top"
                                                   class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
                                                   data-tooltip-target="element"
                                                   data-action="mouseenter->tooltip#show mouseleave->tooltip#hide">
                                                    {{ ticker.fullname|slice(0, 20) }}
                                                    {% if ticker.fullname|length > 20 %}...{% endif %}
                                                </a>
                                                <div class="tooltip" role="tooltip" data-tooltip-target="tooltip">
                                                    {{ ticker.fullname }} ({{ ticker.symbol }})
                                                    <div class="arrow" data-tooltip-target="tooltipArrow"></div>
                                                </div>
                                            </div>
                                            <div class="inline-block" {{ stimulus_controller("tooltip") }} data-tooltip-placement-value="right">
                                                <i class="fas fa-info-circle"
                                                   data-tooltip-target="element"
                                                   data-action="mouseenter->tooltip#show mouseleave->tooltip#hide"></i>
                                                <div class="card" role="tooltip" data-tooltip-target="tooltip">
                                                    <h5 class="bg-gray-300 p-2 rounded-t-lg mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                                                        Dividend &amp; pie info
                                                    </h5>
                                                    <div class='pl-5 pr-5 pb-5'>
                                                        <div class="mb-3 font-normal text-gray-700 dark:text-gray-400">{{ dividendInfo|raw }}</div>
                                                    </div>
                                                    <div class="arrow-card" data-tooltip-target="tooltipArrow"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <small>{{ position.amount|format_number({"fraction_digit": 7}) }} {{ 'shares'|trans }}</small>
                                    </twig:Table:Td>
                                    <twig:Table:Td>
                                        &euro; {{ position.price|format_number({"fraction_digit": 2}) }}
                                    </twig:Table:Td>
                                    <twig:Table:Td>
                                        <twig:Badge class="flex">
                                            &euro;{{ position.allocation|format_number({"fraction_digit": 2}) }}
                                            <div class="inline-block w-full text-right">
                                                <twig:Badge variant="info" type="pill">
                                                    {{ position.percentageAllocation|format_number({"fraction_digit": 2}) }}%
                                                </twig:Badge>
                                            </div>
                                        </twig:Badge>
                                    </twig:Table:Td>
                                    <twig:Table:Td>
                                        <twig:Badge class="flex">
                                            &euro;{{ position.dividend|format_number({"fraction_digit": 2}) }}
                                            <div class="inline-block w-full text-right pl-1">
                                                <twig:Badge variant="info" type="pill" class="justify-right">
                                                    {{ ((position.dividend / position.allocation) *100)|format_number({"fraction_digit": 2}) }}%
                                                </twig:Badge>
                                            </div>
                                        </twig:Badge>
                                    </twig:Table:Td>
                                    <twig:Table:Td class="flex flex-col">
                                        {% if position.divDate %}
                                            <twig:Badge class="block">
                                                {{ position.exDividendDate|format_date("long") }}
                                            </twig:Badge>
                                            <twig:Badge variant="info" class="block mt-1">
                                                {{ position.paymentDate|format_date("long") }}
                                            </twig:Badge>
                                        {% else %}
                                            &mdash;
                                        {% endif %}
                                    </twig:Table:Td>
                                    <twig:Table:Td>
                                        {% if position.divDate %}
                                            <twig:Badge class="block">
                                                {{ position.cashCurrency.sign|raw }}
                                                {{ position.cashAmount|format_number({"fraction_digit": 3}) }}
                                            </twig:Badge>
                                            <twig:Badge variant="secondary" class="flex mt-1">
                                                <span class="whitespace-nowrap">&euro; {{ position.forwardNetDividend|format_number({"fraction_digit": 2}) }}</span>
                                                <div class="block-inline w-full text-right">
                                                    <twig:Badge variant="success" type="pill">
                                                        {{ position.forwardNetDividendYield|format_number({"fraction_digit": 2}) }}%
                                                    </twig:Badge>
                                                </div>
                                            </twig:Badge>
                                        {% else %}
                                            &mdash;
                                        {% endif %}
                                    </twig:Table:Td>
                                </twig:Table:Tr>
                            {% else %}
                                <twig:Table:Tr>
                                    <twig:Table:Td colspan="6">
                                        no records found
                                    </twig:Table:Td>
                                </twig:Table:Tr>
                            {% endfor %}
                        </tbody>
                    </twig:Table:Table>
                    </div>
                    <div class="mt-2">{{ pagerfanta(pager) }}</div>
                    </turbo-frame>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
