<turbo-frame id="portfolio_tab_results">

<div class="flex justify-end mb-4">
		<twig:Button tag="a" href="{{ path('transaction_new', {'ticker': position.ticker.id, 'position': position.id, }) }}" data-turbo-frame="_top">
			<i class="fas fa-plus"></i>
		</twig:Button>
</div>

<div class="flex mb-4">
	<twig:Alert variant="secondary" class="text-right">
		<strong class="font-sans text-4xl">{{ position.allocationCurrency.Sign|raw }}{{ (position.allocation)|format_number({fraction_digit: 2}) }}</strong>
	</twig:Alert>
</div>

<div class="flex flex-col">

	<twig:Table:Table>
		<thead>
			<twig:Table:Tr>
				<twig:Table:ThCol>ID</twig:Table:ThCol>
				<twig:Table:ThCol>{{ 'Side'|trans }}</twig:Table:ThCol>
				<twig:Table:ThCol>{{ 'Order date'|trans }}</twig:Table:ThCol>
				<twig:Table:ThCol>{{ 'Amount'|trans }}</twig:Table:ThCol>
				<twig:Table:ThCol>{{ 'Price'|trans }}</twig:Table:ThCol>
				<twig:Table:ThCol>{{ 'avgPrice'|trans }}</twig:Table:ThCol>
				<twig:Table:ThCol>{{ 'Allocation'|trans }}</twig:Table:ThCol>
				<twig:Table:ThCol>{{ 'Total costs'|trans }}</twig:Table:ThCol>
				<twig:Table:ThCol>{{ 'Net order value'|trans }}</twig:Table:ThCol>
				<twig:Table:ThCol>{{ 'Profit / Loss'|trans }}</twig:Table:ThCol>
				<twig:Table:ThCol>{{ 'Dividend yield'|trans }}</twig:Table:ThCol>
				<twig:Table:ThCol>{{ 'Pie'|trans }}</twig:Table:ThCol>
				<twig:Table:ThCol>{{ 'Actions'|trans }}</twig:Table:ThCol>
			</twig:Table:Tr>
		</thead>

		<tbody>
			{% if pager.count %}
				{% set totalAmount = position.amount %}
				{% set currentAmount = totalAmount %}
				{% set oldAmount = totalAmount %}
				{% for transaction in pager %}
					{% set side = (transaction.side == 1 ? 'Buy' : 'Sell') %}
					{% set currentAmount = oldAmount %}
					{% if transaction.side == 1 %}
						{% set oldAmount = oldAmount - transaction.amount %}
						{% set dividendYield = (netYearlyDividend / transaction.price) * 100 %}
					{% else %}
						{% set oldAmount = oldAmount + transaction.amount %}
						{% set dividendYield = 0 %}
					{% endif %}
					<twig:Table:Tr>
						<twig:Table:Td>
							{% set transactionInfo %}
							<twig:ListGroup>
								<twig:ListGroupItem first="1">{{ 'Pie'|trans }}:
									{{ transaction.pie ? transaction.pie.label : '-' }}</twig:ListGroupItem>
								<twig:ListGroupItem>{{ 'Original price'|trans }}: &euro;{{ transaction.originalPrice }}</twig:ListGroupItem>
								<twig:ListGroupItem>{{ 'Stamduty'|trans }}: &euro;{{ transaction.stampduty }}</twig:ListGroupItem>
								<twig:ListGroupItem>{{ 'fx fee'|trans }}: &euro;{{ transaction.fxFee }}</twig:ListGroupItem>
								<twig:ListGroupItem>{{ 'Exchange rate'|trans }}:
									{{ transaction.exchangeRate }}</twig:ListGroupItem>
								<twig:ListGroupItem last="1">{{ 'Import file'|trans }}:
									{{ transaction.importfile }}</twig:ListGroupItem>
							</twig:ListGroup>
							{% endset %}
							<div class="flex">
								<span class="me-2">{{ transaction.jobid ?: '' }}</span>
								<div class="inline-block" {{ stimulus_controller('tooltip') }} data-tooltip-placement-value="left">
									<i class="fas fa-info-circle" data-tooltip-target="element" data-action="mouseenter->tooltip#show mouseleave->tooltip#hide"></i>
									<div class="card" role="tooltip" data-tooltip-target="tooltip">
										<h5 class="bg-gray-300 p-2 rounded-t-lg mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
												{{ 'Order info'|trans }}
										</h5>
										<div class='pl-5 pr-5 pb-5'>
											<div class="mb-3 font-normal text-gray-700 dark:text-gray-400">
												{{ transactionInfo }}
											</div>
										</div>
										<div class="arrow-card" data-tooltip-target="tooltipArrow"></div>
									</div>
								</div>
							</div>
						</twig:Table:Td>
						<twig:Table:Td>
							<div class="flex">
								<twig:Badge variant="{{ transaction.side == 1 ? "success" : "danger" }}">
									{{ side|trans }}
								</twig:Badge>
							</div>
						</twig:Table:Td>
						<twig:Table:Td>{{ transaction.transactionDate|date("d-m-Y") }}</twig:Table:Td>
						<twig:Table:Td>{{ transaction.amount|format_number({fraction_digit: 7}) }}</twig:Table:Td>
						<twig:Table:Td>{{ (transaction.currency ? transaction.currency.sign : '$')|raw }}{{ transaction.price|format_number({fraction_digit: 2}) }}</twig:Table:Td>
						<twig:Table:Td>{{ currentAmount }}<br/>
							@
							{{ (transaction.currency ? transaction.currency.sign : '$')|raw }}{{ transaction.avgprice|format_number({fraction_digit: 2}) }}</twig:Table:Td>
						<twig:Table:Td>{{ (transaction.allocationCurrency ? position.allocationCurrency.sign : '$')|raw }}{{ transaction.allocation|format_number({fraction_digit: 2}) }}</twig:Table:Td>
						<twig:Table:Td>&euro;{{ (transaction.stampduty + transaction.fxFee + transaction.finraFee + transaction.transactionFee)|format_number({fraction_digit: 2}) }}</twig:Table:Td>
						<twig:Table:Td>&euro;{{ transaction.netOrderValue|format_number({fraction_digit: 2}) }}</twig:Table:Td>
						<twig:Table:Td>
							<div class="flex">
								<twig:Badge variant="{{ transaction.profit > 0 ? "success" : "danger" }}">
									{{ (transaction.currency ? transaction.currency.sign : '$')|raw }} {{ transaction.profit|format_number({fraction_digit: 2}) }}
								</twig:Badge>
							</div>
						</twig:Table:Td>
						<twig:Table:Td>
							{% if transaction.side == 1 %}
								{{ dividendYield|format_number({fraction_digit: 2}) }}%
							{% endif %}
						</twig:Table:Td>
						<twig:Table:Td>
							<turbo-frame id="update-pie-{{ transaction.id }}">
									<a href="{{ path('portfolio_update_pie',{id: transaction.id})}}" class="flex w-full group">
										{{ transaction.pie ?  transaction.pie.label : (transaction.position.pies|length > 0  and transaction.position.pies[0] != null ? transaction.position.pies[0].label : '') }}
											<div class="invisible group-hover:visible px-2 py-2">
												<i class="fa-solid fa-pencil"></i>
											</div>
									</a>
							</turbo-frame>
						</twig:Table:Td>
						<twig:Table:Td>
							<div class="flex" data-controller="tooltip">
								<twig:Button tag="a" href="{{ path('transaction_edit', {'id': transaction.id}) }}" data-turbo-frame="_top" data-tooltip-target="element" data-action="mouseenter->tooltip#show mouseleave->tooltip#hide">
									<i class="far fa-edit"></i>
									<div class="tooltip" role="tooltip" data-tooltip-target="tooltip">
										{{ 'Edit transaction'|trans }}
										<div class="arrow" data-tooltip-target="tooltipArrow"></div>
									</div>
								</twig:Button>
							</div>
						</twig:Table:Td>
					</twig:Table:Tr>
				{% endfor %}
			{% else %}
				<twig:Table:Tr>
					<twig:Table:Td colspan="7">no records found</twig:Table:Td>
				</twig:Table:Tr>
			{% endif %}
		</tbody>
	</twig:Table:Table>
	<div class="mt-2">
    	{{ pagerfanta(pager) }}
    </div>
</div>

</turbo-frame>
