{% extends 'base.html.twig' %}
{% block title %}{{ 'Dividend Yield'|trans }}{% endblock %}
{% block body %}
    <div class="w-full flex flex-col">
        <div class="flex flex-col md:container mx-auto px-4">
            <div class="flex flex-col border border-gray-300 rounded-lg mb-2 mt-2 p-2">
                <div id="alerts">
                    {% for notice in app.flashes('notice') %}
                        <twig:Alert variant="danger">
                            {{ notice|trans }}
                        </twig:Alert>
                    {% endfor %}
                </div>
                <div class="px-3 py-2 w-full">
                    <twig:Head>
                        {{ 'Yield'|trans }}
                    </twig:Head>
                </div>
                <twig:Card title="{{ 'Yield on cost dividend'|trans }} ({{ dividendYieldOnCost|default(0) |format_number({"fraction_digit": 2}) }}%)"
                           title_header_variant="h5"
                           class="mb-4">
                    <div class="mb-4">
                        <div class="flex mt-2">
                            {{ 'Total dividend in a year / total allocated'|trans }}:&nbsp;
                            <twig:Badge variant="primary">
                                &euro;{{ totalNetYearlyDividend|default(0) |format_number({"fraction_digit": 2}) }}
                            </twig:Badge>
                            /&nbsp;
                            <twig:Badge variant="info">
                                &euro;{{ allocated|default(0) |format_number({"fraction_digit": 2}) }}
                            </twig:Badge>
                        </div>
                    </div>
                    <div class="bg-gray-200 rounded-b-lg p-2 mt-4 -mx-3 -my-2">
                        <small>
                            {{ 'Per month'|trans }}
                            <strong>&euro;{{ (totalNetYearlyDividend|default(0) / 12)|format_number({"fraction_digit": 2}) }}</strong>
                        </small>
                    </div>
                </twig:Card>
                <div class="block w-full border p-2 mb-4 rounded-lg border-gray-400 mx-auto">
                    {{ form_start(form) }}
                        <div class="flex w-full justify-center">
                            <div class="w-1/2 me-2">{{ form_widget(form.pie) }}</div>
                            <div class="flex-none">
                                <twig:Button type="submit"	title="Search Ticker">
                                    <i class="fas fa-search"></i>
                                </twig:Button>
                            </div>
                        </div>
                    {{ form_end(form) }}
                    <div class"w-full">
                        <div class="w-1/2 mx-auto p-2 mb-4" style="height:600px">
                            {{ render_chart(chart, {
                                                        'data-controller': 'chartjs-add-percentage'
                                                        }) }}
                        </div>
                    </div>
                </div>
                <div class="border border-gray-400 rounded-lg p-2 mb-2">
                    <turbo-frame id="table-results">
                    <twig:Table:Table>
                        <twig:Table:THead>
                            <tr>
                                <twig:Table:ThCol>
                                    <div class="flex items-center">
                                        Ticker
                                        <a href="{{ path('report_dividend_yield_by_pie', {...app.request.query.all() , sort: 'symbol', sortDirection: sort == 'symbol' and sortDirection == 'asc' ? 'desc' : 'asc', }) }}"
                                           data-turbo-frame="table-results">
                                            <svg class="w-3 h-3 ms-1.5"
                                                 aria-hidden="true"
                                                 xmlns="http://www.w3.org/2000/svg"
                                                 fill="currentColor"
                                                 viewBox="0 0 24 24">
                                                <path d="M8.574 11.024h6.852a2.075 2.075 0 0 0 1.847-1.086 1.9 1.9 0 0 0-.11-1.986L13.736 2.9a2.122 2.122 0 0 0-3.472 0L6.837 7.952a1.9 1.9 0 0 0-.11 1.986 2.074 2.074 0 0 0 1.847 1.086Zm6.852 1.952H8.574a2.072 2.072 0 0 0-1.847 1.087 1.9 1.9 0 0 0 .11 1.985l3.426 5.05a2.123 2.123 0 0 0 3.472 0l3.427-5.05a1.9 1.9 0 0 0 .11-1.985 2.074 2.074 0 0 0-1.846-1.087Z" />
                                            </svg>
                                        </a>
                                    </div>
                                </twig:Table:ThCol>
                                <twig:Table:ThCol>
                                    {{ 'Allocation'|trans }}
                                </twig:Table:ThCol>
                                <twig:Table:ThCol>
                                    {{ 'avgPrice'|trans }}
                                </twig:Table:ThCol>
                                <twig:Table:ThCol>
                                    <div class="flex items-center">
                                        {{ 'Yearly forward dividend'|trans }}
                                        <a href="{{ path('report_dividend_yield_by_pie', { ...app.request.query.all() , sort: 'dividend', sortDirection: sort == 'dividend' and sortDirection == 'asc' ? 'desc' : 'asc', }) }}"
                                           data-turbo-frame="table-results">
                                            <svg class="w-3 h-3 ms-1.5"
                                                 aria-hidden="true"
                                                 xmlns="http://www.w3.org/2000/svg"
                                                 fill="currentColor"
                                                 viewBox="0 0 24 24">
                                                <path d="M8.574 11.024h6.852a2.075 2.075 0 0 0 1.847-1.086 1.9 1.9 0 0 0-.11-1.986L13.736 2.9a2.122 2.122 0 0 0-3.472 0L6.837 7.952a1.9 1.9 0 0 0-.11 1.986 2.074 2.074 0 0 0 1.847 1.086Zm6.852 1.952H8.574a2.072 2.072 0 0 0-1.847 1.087 1.9 1.9 0 0 0 .11 1.985l3.426 5.05a2.123 2.123 0 0 0 3.472 0l3.427-5.05a1.9 1.9 0 0 0 .11-1.985 2.074 2.074 0 0 0-1.846-1.087Z" />
                                            </svg>
                                        </a>
                                    </div>
                                </twig:Table:ThCol>
                                <twig:Table:ThCol>
                                    {{ 'Net forward yearly dividend per share'|trans }}
                                </twig:Table:ThCol>
                                <twig:Table:ThCol>
                                    {{ 'Net forward dividend per payout'|trans }}
                                </twig:Table:ThCol>
                                <twig:Table:ThCol>
                                    {{ 'Net forward yearly dividend total'|trans }}
                                </twig:Table:ThCol>
                                <twig:Table:ThCol>
                                    <div class="flex items-center">
                                        {{ 'Yield'|trans }}
                                        <a href="{{ path('report_dividend_yield_by_pie', { ...app.request.query.all() , sort: 'yield', sortDirection: sort == 'yield' and sortDirection == 'asc' ? 'desc' : 'asc',}) }}"
                                           data-turbo-frame="table-results">
                                            <svg class="w-3 h-3 ms-1.5"
                                                 aria-hidden="true"
                                                 xmlns="http://www.w3.org/2000/svg"
                                                 fill="currentColor"
                                                 viewBox="0 0 24 24">
                                                <path d="M8.574 11.024h6.852a2.075 2.075 0 0 0 1.847-1.086 1.9 1.9 0 0 0-.11-1.986L13.736 2.9a2.122 2.122 0 0 0-3.472 0L6.837 7.952a1.9 1.9 0 0 0-.11 1.986 2.074 2.074 0 0 0 1.847 1.086Zm6.852 1.952H8.574a2.072 2.072 0 0 0-1.847 1.087 1.9 1.9 0 0 0 .11 1.985l3.426 5.05a2.123 2.123 0 0 0 3.472 0l3.427-5.05a1.9 1.9 0 0 0 .11-1.985 2.074 2.074 0 0 0-1.846-1.087Z" />
                                            </svg>
                                        </a>
                                    </div>
                                </twig:Table:ThCol>
                                <twig:Table:ThCol>
                                    info
                                </twig:Table:ThCol>
                            </tr>
                        </twig:Table:THead>
                        <tbody>
                            {% for item in datasource|default([]) %}
                                <twig:Table:Tr>
                                    <twig:Table:Td>
                                        <div data-controller="tooltip">
                                            <a href="{{ path('portfolio_show', {'id': item.position.id}) }}"
                                               data-turbo-frame="_top"
                                               data-tooltip-target="element"
                                               data-action="mouseenter->tooltip#show mouseleave->tooltip#hide"
                                               class="text-blue-700 hover:text-blue-500 font-sans font-bold underline">{{ item.ticker }}</a>
                                            <div class="tooltip" role="tooltip" data-tooltip-target="tooltip">
                                                {{ item.label }}
                                                <div class="arrow" data-tooltip-target="tooltipArrow"></div>
                                            </div>
                                        </div>
                                        <small>({{ item.amount }})</small>
                                    </twig:Table:Td>
                                    <twig:Table:Td>
                                        &euro;{{ item.allocation|format_number({"fraction_digit": 2}) }}
                                    </twig:Table:Td>
                                    <twig:Table:Td>
                                        &euro;{{ (item.avgPrice)|format_number({"fraction_digit": 2}) }}
                                    </twig:Table:Td>
                                    <twig:Table:Td>
                                        {% if item.payout > 0 %}
                                            {{ item.lastDividendCurrency|raw }}{{ (item.payout)|format_number({"fraction_digit": 2}) }}
                                        {% else %}
                                            -
                                        {% endif %}
                                    </twig:Table:Td>
                                    <twig:Table:Td>
                                        <span data-html="true" title="{{ 'Exchangerate'|trans }}: {{ item.exchangeRate }}
                                            <br/>
                                            {{ 'Tax'|trans }}: {{ item.taxRate }}%" data-toggle="tooltip" data-placement="top">
                                            {% if item.netForwardYearlyPayout > 0 %}
                                                &euro;{{ (item.netForwardYearlyPayout)|format_number({"fraction_digit": 2}) }}
                                            {% else %}
                                                -
                                            {% endif %}
                                        </span>
                                    </twig:Table:Td>
                                    <twig:Table:Td>
                                        {% if item.netTotalPayoutPerPaydate > 0 %}
                                            &euro;{{ item.netTotalPayoutPerPaydate|format_number({"fraction_digit": 2}) }}
                                        {% endif %}
                                    </twig:Table:Td>
                                    <twig:Table:Td>
                                        {% if item.netTotalForwardYearlyPayout > 0 %}
                                            &euro;{{ item.netTotalForwardYearlyPayout|format_number({"fraction_digit": 2}) }}
                                        {% else %}
                                            -
                                        {% endif %}
                                    </twig:Table:Td>
                                    <twig:Table:Td>
                                        {% if item.yield > 0 %}
                                            {{ item.yield }}%
                                        {% else %}
                                            -
                                        {% endif %}
                                    </twig:Table:Td>
                                    <twig:Table:Td>
                                        {% set info = "" %}
                                        {% set info %}
                                            <twig:ListGroup>
                                                <twig:ListGroupItem>
                                                    {{ 'Last dividend'|trans }}:
                                                    {% if item.lastDividend > 0 %}
                                                        {{ item.lastDividendCurrency|raw }}{{ (item.lastDividend)|format_number({"fraction_digit": 2}) }}
                                                    {% else %}
                                                        -
                                                    {% endif %}
                                                </twig:ListGroupItem>
                                                <twig:ListGroupItem>
                                                    {{ 'Last payout date'|trans }}:
                                                    {% if item.lastDividendDate is not null %}
                                                        {{ item.lastDividendDate|date("d-m-Y") }}
                                                    {% else %}
                                                        -
                                                    {% endif %}
                                                </twig:ListGroupItem>
                                                <twig:ListGroupItem>
                                                    #{{ 'Payouts per year'|trans }}:
                                                    {{ item.numPayoutsPerYear ?: '-' }}
                                                </twig:ListGroupItem>
                                            </twig:ListGroup>
                                        {% endset %}
                                        <div class="inline-block" {{ stimulus_controller("tooltip") }} data-tooltip-placement-value="right">
                                            <i class="fas fa-info-circle"
                                               data-tooltip-target="element"
                                               data-action="mouseenter->tooltip#show mouseleave->tooltip#hide"></i>
                                            <div class="card" role="tooltip" data-tooltip-target="tooltip">
                                                <h5 class="bg-gray-300 p-2 rounded-t-lg mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Info</h5>
                                                <div class='pl-5 pr-5 pb-5'>
                                                    <div class="mb-3 font-normal text-gray-700 dark:text-gray-400">{{ info }}</div>
                                                </div>
                                                <div class="arrow-card" data-tooltip-target="tooltipArrow"></div>
                                            </div>
                                        </div>
                                    </twig:Table:Td>
                                </twig:Table:Tr>
                            {% endfor %}
                            <tr class="bg-gray-700 text-white">
                                <twig:Table:Td></twig:Table:Td>
                                <twig:Table:Td>
                                &euro;{{ allocated|default(0) |format_number({"fraction_digit": 2}) }}
                                </twig:Table:Td>
                                <twig:Table:Td>
                                </twig:Table:Td>
                                <twig:Table:Td>
                                </twig:Table:Td>
                                <twig:Table:Td>
                                    &euro;{{ totalNetYearlyDividendPerStock|default(0) |format_number({"fraction_digit": 2}) }}
                                </twig:Table:Td>
                                <twig:Table:Td>
                                    &euro;{{ totalNetMonthlyDividend|default(0) |format_number({"fraction_digit": 2}) }}
                                </twig:Table:Td>
                                <twig:Table:Td>
                                    &euro;{{ totalNetYearlyDividend|default(0) |format_number({"fraction_digit": 2}) }}
                                </twig:Table:Td>
                                <twig:Table:Td>
                                    {{ dividendYieldOnCost|default(0) |format_number({"fraction_digit": 2}) }}%
                                </twig:Table:Td>
                                <twig:Table:Td>
                                </twig:Table:Td>
                            </tr>
                        </tbody>
                    </twig:Table:Table>
                    </turbo-frame>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
