{% extends 'base.html.twig' %}
{% block title %}Pie index{% endblock %}
{% block body %}
    <div class="w-full flex flex-col">
        <div class="flex flex-col md:container mx-auto px-4">
            <div>
                {% for notice in app.flashes('notice') %}
                    <twig:Alert variant="danger">
                        {{ notice|trans }}
                    </twig:Alert>
                {% endfor %}
            </div>
            <div id="header" class="px-3 py-2 w-full">
                <twig:Head>
                    {{ 'Pie'|trans }}
                </twig:Head>
            </div>
            <div class="flex flex-col border border-gray-300 rounded-lg mb-2 mt-2 p-2">
                <div class="w-full pr-3 py-2 mt-2 mb-2">
                    <twig:Button tag="a" href="{{ path("pie_new") }}">
                        <i class="fas fa-plus"></i>
                    </twig:Button>
                </div>
                <twig:Table:Table class="max-w-min min-w-full">
                    <twig:Table:THead>
                        <tr>
                            <twig:Table:ThCol>
                                Id
                            </twig:Table:ThCol>
                            <twig:Table:ThCol>
                                Label
                            </twig:Table:ThCol>
                            <twig:Table:ThCol>
                                actions
                            </twig:Table:ThCol>
                        </tr>
                    </twig:Table:THead>
                    <tbody>
                        {% for pie in pies %}
                            <twig:Table:Tr>
                                <twig:Table:Td>
                                    {{ pie.id }}
                                </twig:Table:Td>
                                <twig:Table:Td>
                                    {{ pie.label }}
                                </twig:Table:Td>
                                <twig:Table:Td>
                                    <div class="inline-flex rounded-md shadow-sm" role="group">
                                        <div class="inline-block" data-controller="tooltip">
                                            <a href="{{ path('pie_show', {'id': pie.id}) }}"
                                               data-turbo-frame="_top"
                                               data-tooltip-target="element"
                                               data-action="mouseenter->tooltip#show mouseleave->tooltip#hide"
                                               class="px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-s-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-800 dark:border-gray-700 dark:text-white dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-blue-500 dark:focus:text-white">
                                                <i class="fas fa-book-open"></i>
                                            </a>
                                            <div class="tooltip" role="tooltip" data-tooltip-target="tooltip">
                                                {{ 'show pie'|trans }}
                                                <div class="arrow" data-tooltip-target="tooltipArrow"></div>
                                            </div>
                                        </div>
                                        <div class="inline-block" data-controller="tooltip">
                                            <a href="{{ path('pie_edit', {'id': pie.id}) }}"
                                               data-turbo-frame="_top"
                                               data-tooltip-target="element"
                                               data-action="mouseenter->tooltip#show mouseleave->tooltip#hide"
                                               class="px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-e-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-800 dark:border-gray-700 dark:text-white dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-blue-500 dark:focus:text-white">
                                                <i class="far fa-edit"></i>
                                            </a>
                                            <div class="tooltip" role="tooltip" data-tooltip-target="tooltip">
                                                {{ 'Edit pie'|trans }}
                                                <div class="arrow" data-tooltip-target="tooltipArrow"></div>
                                            </div>
                                        </div>
                                    </div>
                                </twig:Table:Td>
                            </twig:Table:Tr>
                        {% else %}
                            <twig:Table:Tr>
                                <twig:Table:Td colspan="3">
                                    no records found
                                </twig:Table:Td>
                            </twig:Table:Tr>
                        {% endfor %}
                    </tbody>
                </twig:Table:Table>
            </div>
        </div>
    </div>
{% endblock %}
