{% extends 'base.html.twig' %}
{% block title %}Pie{% endblock %}
{% block body %}
    <div class="w-full flex flex-col">
        <div class="flex flex-col md:container mx-auto px-4">
            <div class="flex flex-col border border-gray-300 rounded-lg mb-2 mt-2 p-2">
                <twig:Card title="{{ 'Pie'|trans }}" class="w-1/2 mx-auto min-w-max h-min">
                    <twig:Table:Table>
                        <tbody>
                            <twig:Table:Tr>
                                <twig:Table:ThRow>Id</twig:Table:ThRow>
                                <twig:Table:Td>{{ pie.id }}</twig:Table:Td>
                            </twig:Table:Tr>
                            <twig:Table:Tr>
                                <twig:Table:ThRow>Label</twig:Table:ThRow>
                                <twig:Table:Td>{{ pie.label }}</twig:Table:Td>
                            </twig:Table:Tr>
                        </tbody>
                    </twig:Table:Table>
                    <div class="w-full pr-3 py-2 mt-2">
                        <div class="inline-flex rounded-md shadow-sm" role="group">
                            <a href="{{ path("pie_index") }}"
                               class="px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-s-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-800 dark:border-gray-700 dark:text-white dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-blue-500 dark:focus:text-white">
                                <i class="fas fa-angle-double-left"></i>
                                {{ 'back to list'|trans }}
                            </a>
                            <a href="{{ path('pie_edit', { id: pie.id }) }}"
                               class="px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-800 dark:border-gray-700 dark:text-white dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-blue-500 dark:focus:text-white">
                                <i class="far fa-edit"></i>
                            </a>
                            {{ include("pie/_delete_form.html.twig") }}
                        </div>
                    </div>
                </twig:Card>
            </div>
        </div>
    </div>
{% endblock %}
