<nav class="bg-gray-800">
	<div class="w-full px-2 sm:px-6 lg:px-2">
		<div class="relative flex h-16 items-center justify-between">
			<!-- left align -->
			<!-- Desktop -->
			<div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
				<div class="flex text-white flex-shrink-0 items-center">
					{% if brand_image| default(false )%}
					<img class="h-8 w-auto" src="{{ asset('images/brand.png') }}" alt="Your Company">
					{% else %}
					<a class="px-2 tx-py-2 mr-4 font-sans text-xl" href="#">Dividend tracker</a>
					{% endif %}
				</div>
				<div class="hidden sm:ml-6 sm:block">
					<div class="flex space-x-4">

						<!-- Admin -->
						<div class="relative ml-3" {{ stimulus_controller('toggle') }}>
							<!-- Toggle button -->
							<div>
								<button class="group transition-all duration-200 inline-flex justify-center rounded-md px-3 py-2 text-sm font-medium text-white hover:bg-slate-600" data-action="toggle#toggle">
									<i class="fas fa-cog pr-1 self-center"></i> {{ 'Admin'|trans }}
									<svg class="rotate-90 group-focus:rotate-180" xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24">
										<path fill="currentColor"
											d="m12 10.8l-3.9 3.9q-.275.275-.7.275t-.7-.275q-.275-.275-.275-.7t.275-.7l4.6-4.6q.3-.3.7-.3t.7.3l4.6 4.6q.275.275.275.7t-.275.7q-.275.275-.7.275t-.7-.275z"
										/>
									</svg>
								</button>
							</div>
							<!-- Dropdown menu -->
							<div class="hidden absolute left-1 z-20 mt-2 w-52 origin-top-right
								rounded-md bg-white py-1 shadow-lg ring-1
								ring-black ring-opacity-5 focus:outline-none" role="menu"
								data-toggle-target="toggleable" data-css-class="hidden">
								<a href="{{ url('branch_index', parameters = [], schemeRelative = false) }}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-slate-100" role="menuitem" tabindex="-1" id="admin-menu-item-0"><i class="fas fa-industry pr-2"></i> {{ 'Industry'|trans }}</a>
								<a href="{{ url('ticker_index', parameters = [], schemeRelative = false) }}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-slate-100" role="menuitem" tabindex="-1" id="admin-menu-item-1"><i class="fas fa-ticket-alt pr-2"></i> Tickers</a>
								<a href="{{ url('research_index', parameters = [], schemeRelative = false) }}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-slate-100" role="menuitem" tabindex="-1" id="admin-menu-item-2"><i class="fas fa-search-plus pr-2"></i> {{ 'Research on Tickers'|trans }}</a>
								<div class="border border-solid h-0 bg-[##e5e7eb] "></div>
								<a href="{{ url('pie_index', parameters = [], schemeRelative = false) }}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-slate-100" role="menuitem" tabindex="-1" id="admin-menu-item-3"><i class="fas fa-chart-pie pr-2"></i> {{ 'Pies'|trans }}</a>
								<div class="border border-solid h-0 bg-[##e5e7eb] "></div>
								<a href="{{ url('app_csv_import', parameters = [], schemeRelative = false) }}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-slate-100" role="menuitem" tabindex="-1" id="admin-menu-item-4"><i class="fas fa-file-import pr-2"></i> {{ 'Import csv'|trans }}</a>
								<div class="border border-solid h-0 bg-[##e5e7eb] "></div>
								<a href="{{ url('journal_index', parameters = [], schemeRelative = false) }}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-slate-100" role="menuitem" tabindex="-1" id="admin-menu-item-5"><i class="fas fa-blog pr-2"></i> {{ 'Journal'|trans }}</a>
								<div class="border border-solid h-0 bg-[##e5e7eb] "></div>
								<a href="{{ url('app_taxonomy_index', parameters = [], schemeRelative = false) }}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-slate-100" role="menuitem" tabindex="-1" id="admin-menu-item-6"><i class="fa-solid fa-thumbtack pr-2"></i> {{ 'Taxonomy'|trans }}</a>
								<div class="border border-solid h-0 bg-[##e5e7eb] "></div>
								<a href="{{ url('currency_index', parameters = [], schemeRelative = false) }}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-slate-100" role="menuitem" tabindex="-1" id="admin-menu-item-7"><i class="fas fa-money-bill-alt pr-2"></i> {{ 'Currency'|trans }}</a>
								<a href="{{ url('tax_index', parameters = [], schemeRelative = false) }}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-slate-100" role="menuitem" tabindex="-1" id="admin-menu-item-8"><i class="fas fa-percent pr-2"></i> {{ 'Taxtarifs'|trans }}</a>
							</div>
						</div>

						<!-- Portfolio -->
						<a href="{{ url('portfolio_index', parameters = [], schemeRelative = false) }}" class="inline-flex rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white">
							<i class="fas fa-landmark pr-1 self-center"></i> {{ 'Portfolio'|trans }}
						</a>

						<!-- Dividend -->
						<div class="relative ml-3" {{ stimulus_controller('toggle') }}>
							<!-- Toggle button -->
							<div>
								<button class="group transition-all duration-200 inline-flex justify-center gap-x-1.5 rounded-md px-3 py-2 text-sm font-medium text-white hover:bg-slate-600" data-action="toggle#toggle">
									<i class="far fa-calendar-alt pr-2 self-center"></i> {{ 'Dividend'|trans }}
									<svg class="rotate-90 group-focus:rotate-180" xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24">
										<path fill="currentColor"
											d="m12 10.8l-3.9 3.9q-.275.275-.7.275t-.7-.275q-.275-.275-.275-.7t.275-.7l4.6-4.6q.3-.3.7-.3t.7.3l4.6 4.6q.275.275.275.7t-.275.7q-.275.275-.7.275t-.7-.275z"
										/>
									</svg>
								</button>
							</div>
							<!-- Dropdown menu -->
							<div class="hidden absolute left-1 z-20 mt-2 w-56 origin-top-right
								rounded-md bg-white py-1 shadow-lg ring-1
								ring-black ring-opacity-5 focus:outline-none" role="menu" tabindex="-1"
								data-toggle-target="toggleable" data-css-class="hidden">
								<a href="{{ url('payment_index', parameters = [], schemeRelative = false) }}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-slate-100" role="menuitem" tabindex="-1" id="dividend-menu-item-0"><i class="far fa-money-bill-alt pr-2"></i> {{ 'Payments'|trans }}</a>
								<div class="border border-solid h-0 bg-[##e5e7eb] "></div>
								<a href="{{ url('calendar_index', parameters = [], schemeRelative = false) }}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-slate-100" role="menuitem" tabindex="-1" id="dividend-menu-item-1"><i class="far fa-calendar-alt pr-2"></i> {{ 'Calendar'|trans }}</a>
								<a href="{{ url('calendar_per_date_table', parameters = [], schemeRelative = false) }}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-slate-100" role="menuitem" tabindex="-1" id="dividend-menu-item-2"><i class="fas fa-calendar-alt pr-2"></i> {{ 'Calendar per date printout'|trans }}</a>
								<div class="border border-solid h-0 bg-[##e5e7eb] "></div>
								<a href="{{ url('app_monthly_summary_index', parameters = [], schemeRelative = false) }}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-slate-100" role="menuitem" tabindex="-1" id="dividend-menu-item-3"><i class="fas fa-calendar-alt pr-2"></i> {{ 'Monthly Summary'|trans }}</a>
							</div>
						</div>

						<!-- Reports -->
						<div class="relative ml-3" {{ stimulus_controller('toggle') }}>
							<!-- Toggle button -->
							<div>
								<button class="group transition-all duration-200 inline-flex justify-center rounded-md px-3 py-2 text-sm font-medium text-white hover:bg-slate-600" data-action="toggle#toggle">
									<i class="fas fa-bullseye pr-1 self-center"></i> {{ 'Reports'|trans }}
									<svg class="rotate-90 group-focus:rotate-180" xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24">
										<path fill="currentColor"
											d="m12 10.8l-3.9 3.9q-.275.275-.7.275t-.7-.275q-.275-.275-.275-.7t.275-.7l4.6-4.6q.3-.3.7-.3t.7.3l4.6 4.6q.275.275.275.7t-.275.7q-.275.275-.7.275t-.7-.275z"
										/>
									</svg>
								</button>
							</div>
							<!-- Dropdown menu -->
							<div class="hidden absolute z-20 left-1  mt-2 w-72 origin-top-right
								rounded-md bg-white py-1 shadow-lg ring-1
								ring-black ring-opacity-5 focus:outline-none" role="menu" tabindex="-1"
								data-toggle-target="toggleable" data-css-class="hidden">
								<a href="{{ url('dividend_tracker', parameters = [], schemeRelative = false) }}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-slate-100" role="menuitem" tabindex="-1" id="report-menu-item-0"><i class="fas fa-chart-line pr-2"></i> {{ 'Dividend Tracker'|trans }}</a>
								<div class="border border-solid h-0 bg-[##e5e7eb] "></div>
								<a href="{{ url('report_allocation_sector', parameters = [], schemeRelative = false) }}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-slate-100" role="menuitem" tabindex="-1" id="report-menu-item-1"><i class="fas fa-chart-pie pr-2"></i> {{ 'Sector allocation'|trans }}</a>
								<a href="{{ url('report_allocation_position', parameters = [], schemeRelative = false) }}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-slate-100" role="menuitem" tabindex="-1" id="report-menu-item-2"><i class="fas fa-chart-pie pr-2"></i> {{ 'Position allocation'|trans }}</a>
								<div class="border border-solid h-0 bg-[##e5e7eb] "></div>
								<a href="{{ url('dividend_month_index', parameters = [], schemeRelative = false) }}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-slate-100" role="menuitem" tabindex="-1" id="report-menu-item-3">{{ 'Dividend month Tickers'|trans }}</a>
								<a href="{{ url('report_payout', parameters = [], schemeRelative = false) }}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-slate-100" role="menuitem" tabindex="-1" id="report-menu-item-4">{{ 'Dividend payout'|trans }}</a>
								<div class="border border-solid h-0 bg-[##e5e7eb] "></div>
								<a href="{{ url('report_dividend_yield_by_pie', parameters = [], schemeRelative = false) }}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-slate-100" role="menuitem" tabindex="-1" id="report-menu-item-5"><i class="fas fa-chart-bar pr-2"></i> {{ 'Dividend yield'|trans }}</a>
								<div class="border border-solid h-0 bg-[##e5e7eb] "></div>
								<a href="{{ url('compound_prediction', parameters = [], schemeRelative = false) }}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-slate-100" role="menuitem" tabindex="-1" id="report-menu-item-6"><i class="fas fa-calculator pr-2"></i> {{ 'Compound calc'|trans }}</a>
								<div class="border border-solid h-0 bg-[##e5e7eb] "></div>
								<a href="{{ url('report_export_transactions', parameters = [], schemeRelative = false) }}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-slate-100" role="menuitem" tabindex="-1" id="report-menu-item-7"><i class="fas fa-file-export pr-r"></i> {{ 'Export transactions'|trans }}</a>
								<a href="{{ url('report_export_dividend', parameters = [], schemeRelative = false) }}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-slate-100" role="menuitem" tabindex="-1" id="report-menu-item-8"><i class="fas fa-file-export pr-r"></i> {{ 'Export dividend'|trans }}</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- right align -->
			<div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0" >
				<button type="button" class="relative rounded-full bg-gray-800
									        p-1 text-gray-400 hover:text-white focus:outline-none focus:ring-2 focus:ring-white
						                    focus:ring-offset-2 focus:ring-offset-gray-800">
					<span class="absolute -inset-1.5"></span>
					<span class="sr-only">View notifications</span>
					<svg class="h-6 w-6" fill="none" viewbox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
						<path stroke-linecap="round" stroke-linejoin="round" d="M14.857 17.082a23.848 23.848 0 005.454-1.31A8.967 8.967 0 0118 9.75v-.7V9A6 6 0 006 9v.75a8.967 8.967 0 01-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 01-5.714 0m5.714 0a3 3 0 11-5.714 0"/>
					</svg>
				</button>

				{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
				<!-- Profile dropdown -->
				<div class="relative ml-3" {{ stimulus_controller('toggle') }}>
					<div>
						<button type="button" class="relative flex rounded-full bg-gray-800 text-sm
		                          focus:outline-none focus:ring-2 focus:ring-white
		                          focus:ring-offset-2 focus:ring-offset-gray-800 transition duration-500 ease-in-out" id="user-menu-button"
							data-action="toggle#toggle">
							<span class="absolute -inset-1.5"></span>
							<span class="sr-only">Open user menu</span>
							<img class="h-8 w-8 rounded-full" src="{{ asset('images/profile-placeholder.png') }}" alt="Profile picture">
						</button>
					</div>

					<div
						class="hidden absolute right-0 z-10 mt-2 w-48 origin-top-right
							rounded-md bg-white py-1 shadow-lg ring-1
							ring-black ring-opacity-5 focus:outline-none" role="menu" tabindex="-1"
							data-toggle-target="toggleable" data-css-class="hidden">
						<!-- Active: "bg-gray-100", Not Active: "" -->
						<a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-slate-100" role="menuitem" tabindex="-1" id="user-menu-item-0">Your Profile</a>
						<a href="{{ url('app_account_update', parameters = [], schemeRelative = false) }}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-slate-100" role="menuitem" tabindex="-1" id="user-menu-item-1"><i class="far fa-user-circle pr-2"></i> {{ 'Account'|trans }}</a>
						<a href="{{ path('app_logout') }}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-slate-100" role="menuitem" tabindex="-1" id="user-menu-item-2">Sign out</a>
					</div>
				</div>
				{% endif %}
			</div>
		</div>
	</div>

	<div class="sm:hidden w-full px-2 sm:px-6 lg:px-2" {{ stimulus_controller('toggle') }}>
		<div class="relative flex h-16 items-center justify-between">
			<!-- left align -->
			<!-- Mobile -->
			<div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
				<!-- Mobile menu button-->
				<button type="button" class="relative inline-flex items-center
																justify-center rounded-md p-2
																text-gray-400 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2
																focus:ring-inset focus:ring-white"
																data-action="toggle#toggle">
					<span class="absolute -inset-0.5"></span>
					<span class="sr-only">Open main menu</span>
					<svg class="block h-6 w-6" fill="none" viewbox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
						<path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"/>
					</svg>
					<svg class="hidden h-6 w-6" fill="none" viewbox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
						<path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"/>
					</svg>
				</button>
			</div>
		</div>
		<!-- Mobile menu, show/hide based on menu state. -->
		<div class="sm:hidden hidden" id="mobile-menu" data-toggle-target="toggleable" data-css-class="hidden">
			<div
				class="space-y-1 px-2 pb-3 pt-2">
				<!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
				<a href="{{ url('portfolio_index', parameters = [], schemeRelative = false) }}" class="block rounded-md bg-gray-900 px-3 py-2 text-base font-medium text-white">
					{{ 'Portfolio'|trans }}
				</a>
				<a href="{{ url('payment_index', parameters = [], schemeRelative = false) }}" class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-gray-700 hover:text-white">
					{{ 'Payments'|trans }}
				</a>
			</div>
		</div>
	</div>
</nav>
